/Aula10/nbproject/private/
/Aula10/build/
/Aula11/nbproject/private/
/aula11.1/nbproject/private/
/aula11.1/build/
/Aula12/nbproject/private/
/Aula12/build/
/Snake/nbproject/private/
/Snake/build/
/TodoList/nbproject/private/
/AngularJSPhoneCat/nbproject/private/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/com.zetcode/nbproject/private/
/com.zetcode1/nbproject/private/
/com.zetcode1/build/
/com.zetcode1/dist/
/PROVA02-01/nbproject/private/
/PROVA02-01/build/
/test/nbproject/private/
/test/build/
